<div class="container">
  <header>
    <h1>Angular 17</h1>
    <p class="subtitle">Utilisation de composants Material Design</p>
    <p>Version du 2023-12-11</p>
  </header>
  <main>
    <h2>mat-grid-list</h2>
    <mat-grid-list cols="2" rowHeight="4:1">
      <mat-grid-tile>Rectangle 1</mat-grid-tile>
      <mat-grid-tile>Rectangle 2</mat-grid-tile>
      <mat-grid-tile>Rectangle 3</mat-grid-tile>
      <mat-grid-tile>Rectangle 4</mat-grid-tile>
    </mat-grid-list>
    <h2>mat-slide-toggle</h2>
    <fieldset>
      <legend>Legend</legend>
      <mat-slide-toggle>Option 1</mat-slide-toggle>
      <mat-slide-toggle>Option 2</mat-slide-toggle>
      <mat-slide-toggle>Option 3</mat-slide-toggle>
    </fieldset>
  </main>
  <footer>Ghislain Coutu 2023</footer>
</div>